.main{	
	height: 99vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
}

.title, .button{
	margin: 10vh 0;
	font-weight: 400;
}

.title{
	font-size: 6vh;
	color: #e2e2e2;
  animation: scale 3s infinite;
  transform: scale(1.1);
  animation-direction: alternate;
}

@keyframes scale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.2deg);
  }
}

.button{
	font-size: 3.2vh;
	text-align: center;
	padding: 10px 10px;
	min-width: 230px;
	border-radius: 5px;
	background-color: #141a35;
	text-decoration: none;
	color: #e2e2e2;
}

.button:hover{
	color: #141a35;
	background-color: #e2e2e2;
	box-shadow: 0 0 1rem 0 #141a35;
}

